<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>常用|基类-swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F36A4981D35E18E00A60397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F36A4AC1D35E18E00A60397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F36A4B71D35E18E00A60397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
